<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--CaresDEV-->
    <!--<add name="CaresCRMServer" connectionString="AuthType=AD;Url=http://drift.idir.bcgov/CaresDev; Domain=IDIR; Username=dibarbos; Password=cares123!2" />-->
    <!--CaresQA-->
    <add name="CaresCRMServer" connectionString="AuthType=AD;Url=https://dynamics.app.im.gov.bc.ca/Cares-QA; Domain=IDIR; Username=fkhan; Password=12Oct19882" />
  </connectionStrings>
</configuration>